html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #eee;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  border: 20px solid rgba(255, 255, 0, 0.8);
  border-image: repeating-linear-gradient(
      -45deg,
      black,
      black 5px,
      rgba(255, 255, 0, 0.8) 6px,
      rgba(255, 255, 0, 0.8) 10px
    )
    25;
}
.label {
  position: absolute;
  top: 60px;
  margin: auto;
  width: 100%;
  text-align: center;
}
.button {
  box-shadow: 0px 5px 0 10px #352d2d, 0px 15px 0 15px #000;
  cursor: pointer;
  background-color: #c0392b;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 30px;
  transform: translateX(-50%);
}
.button::before {
  content: '';
  z-index: 1;
  border-radius: 50%;
  background-color: #e74c3c;
  position: absolute;
  bottom: 100%;
  left: 0%;
  transition: bottom 0.4s;
  width: 100px;
  height: 30px;
}
.button::after {
  content: '';
  background-color: #c0392b;
  position: absolute;
  bottom: 50%;
  left: 0%;
  width: 100px;
  height: 30px;
  transition: height 0.4s;
}
.button:active::before {
  bottom: 10%;
}
.button:active::after {
  height: 10%;
}
